@model SimpleCure.Models.CustomerInfoViewModel
@{
    ViewBag.Title = "ChangeAccountInformation";
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>There was an error!</strong> @Model.ErrorMessage
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink(" Home", "Index", "Home")
            </li>
            <li class="breadcrumb-item active">Change Customer Information</li>
        </ul>
    </div>
</div>
<section class="forms">
    <div class="container-fluid">
        <header>
            <h1 class="h3 display">Change Customer Information</h1>
        </header>
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header">
                        <h4>Change Customer Information Form</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-inner">
                            @using (Html.BeginForm("ChangeAccountInformation", "Manage", FormMethod.Post, new { @class = "text-left form-validate", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary("", new { @class = "text-danger" })

                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group-material">
                                                        @Html.TextBoxFor(m => m.Company, new { @class = "input-material" })
                                                        <label for="Company" class="label-material">Company</label>
                                                    </div>

                                                    <div class="form-group-material">
                                                        @Html.TextBoxFor(m => m.Customer, new { @class = "input-material" })
                                                        <label for="Customer" class="label-material">Customer Name</label>
                                                    </div>

                                                    <div class="form-group-material">
                                                        @Html.TextBoxFor(m => m.MainPhone, new { @class = "input-material" })
                                                        <label for="MainPhone" class="label-material">Main Phone</label>
                                                    </div>

                                                    <div class="form-group-material">
                                                        @Html.TextBoxFor(m => m.Mobile, new { @class = "input-material" })
                                                        <label for="Mobile" class="label-material">Mobile</label>
                                                    </div>

                                                    <div class="form-group-material">
                                                        @Html.TextBoxFor(m => m.MainEmail, new { @class = "input-material" })
                                                        <label for="MainEmail" class="label-material">Main Email</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">

                                                    <div class="form-group-material">
                                                        @Html.TextBoxFor(m => m.AltEmail1, new { @class = "input-material" })
                                                        <label for="AltEmail1" class="label-material">Alt Email</label>
                                                    </div>

                                                    <div class="form-group-material">
                                                        @Html.TextBoxFor(m => m.Street1, new { @class = "input-material" })
                                                        <label for="Street1" class="label-material">Street Address</label>
                                                    </div>

                                                    <div class="form-group-material">
                                                        @Html.TextBoxFor(m => m.City, new { @class = "input-material" })
                                                        <label for="City" class="label-material">City</label>
                                                    </div>

                                                    <div class="form-group-material">
                                                        @Html.TextBoxFor(m => m.State, new { @class = "input-material" })
                                                        <label for="State" class="label-material">State</label>
                                                    </div>

                                                    <div class="form-group-material">
                                                        @Html.TextBoxFor(m => m.Zip, new { @class = "input-material" })
                                                        <label for="Zip" class="label-material">Zip</label>
                                                    </div>

                                                </div>
                                                <div class="col-md-4">

                                                    <div class="form-group-material">
                                                        @Html.TextBoxFor(m => m.OMMALicense, new { @class = "input-material" })
                                                        <label for="OMMALicense" class="label-material">OMMA License#</label>
                                                    </div>

                                                    <div class="form-group-material">
                                                        @Html.TextBoxFor(m => m.EIN, new { @class = "input-material" })
                                                        <label for="EIN" class="label-material">EIN#</label>
                                                    </div>

                                                    <div class="form-group-material">
                                                        @Html.TextBoxFor(m => m.FEIN, new { @class = "input-material" })
                                                        <label for="FEIN" class="label-material">FEIN#</label>
                                                    </div>

                                                    <div class="form-group-material">
                                                        @Html.TextBoxFor(m => m.OBN, new { @class = "input-material" })
                                                        <label for="OBN" class="label-material">OBN#</label>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Change Account Information" class="btn btn-outline-primary" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

