@model SimpleCure.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink(" Home", "Index", "Home")
            </li>
            <li class="breadcrumb-item active">Password Change</li>
        </ul>
    </div>
</div>
<section class="forms">
    <div class="container-fluid">
        <header>
            <h1 class="h3 display">Password Change</h1>
        </header>
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header">
                        <h4>Change Account Password</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-inner">
                            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "text-left form-validate", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="form-group-material">
                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "input-material" })
                                    <label for="OldPassword" class="label-material">Old Password</label>
                                </div>
                                <div class="form-group-material">                                     
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "input-material" })
                                    <label for="NewPassword" class="label-material">New Password</label>
                                </div>
                                <div class="form-group-material">                                  
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-material" })
                                    <label for="ConfirmPassword" class="label-material">Confirm Password</label>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Change password" class="btn btn-outline-primary" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}