@model SimpleCure.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

@helper ShowIfNotNull(string Item)
{
    if (!string.IsNullOrEmpty(Item))
    {
        <span>@Item</span>
    }
    else
    {
        <span>Not available</span>
    }
}

<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink(" Home", "Index", "Home")
            </li>
            <li class="breadcrumb-item active">Account Management</li>
        </ul>
    </div>
</div>

@if (!string.IsNullOrEmpty(ViewBag.StatusMessage))
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        @ViewBag.StatusMessage
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<section class="forms">
    <div class="container-fluid">
        <header>
            <h1 class="h3 display">Account Management</h1>
        </header>
        <div class="row">
            <div class="col-md-4">

                <div class="card">
                    <div class="card-header">
                        <h4>Account Options</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li>
                                @Html.ActionLink(" Change your Password",
                                "ChangePassword",   
                                "Manage" 
                                )
                            </li>
                            <li>
                                @Html.ActionLink(" Change your Email",
                                "ChangeEmailAddress",    
                                "Manage" 
                                )
                            </li>
                            <li>
                                @Html.ActionLink(" Change your User Name",
                                "ChangeUserName",   
                                "Manage" 
                                )
                            </li>
                            <li>
                                @Html.ActionLink(" Change your Account Information",
                                "ChangeAccountInformation",   
                                "Manage"
                                )
                            </li>
                            <li>
                                @Html.ActionLink(" Delete your Account",
                                "DeleteAccount",    
                                "Manage" 
                                )
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-md-8">

                <div class="card">
                    <div class="card-header">
                        <h4>Account Information</h4>
                    </div>
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-3">UserName</dt>
                            <dd class="col-sm-9">@Model.UserInfo.UserName</dd>

                            <dt class="col-sm-3">Email</dt>
                            <dd class="col-sm-9">@Model.UserInfo.Email</dd>

                            <dt class="col-sm-3">Customer</dt>
                            <dd class="col-sm-9">@ShowIfNotNull(Model.CustomerInfo.Customer)</dd>

                            <dt class="col-sm-3">Company</dt>
                            <dd class="col-sm-9">@ShowIfNotNull(Model.CustomerInfo.Company)</dd>

                            <dt class="col-sm-3">Main Phone</dt>
                            <dd class="col-sm-9">@ShowIfNotNull(Model.CustomerInfo.MainPhone)</dd>

                            <dt class="col-sm-3">Mobile</dt>
                            <dd class="col-sm-9">@ShowIfNotNull(Model.CustomerInfo.Mobile)</dd>

                            <dt class="col-sm-3">Main Email</dt>
                            <dd class="col-sm-9">@ShowIfNotNull(Model.CustomerInfo.MainEmail)</dd>

                            <dt class="col-sm-3">Alt Email</dt>
                            <dd class="col-sm-9">@ShowIfNotNull(Model.CustomerInfo.AltEmail1)</dd>

                            <dt class="col-sm-3">Street</dt>
                            <dd class="col-sm-9">@ShowIfNotNull(Model.CustomerInfo.Street1)</dd>

                            <dt class="col-sm-3">City</dt>
                            <dd class="col-sm-9">@ShowIfNotNull(Model.CustomerInfo.City)</dd>

                            <dt class="col-sm-3">State</dt>
                            <dd class="col-sm-9">@ShowIfNotNull(Model.CustomerInfo.State)</dd>

                            <dt class="col-sm-3">ZIP</dt>
                            <dd class="col-sm-9">@ShowIfNotNull(Model.CustomerInfo.Zip)</dd>

                            <dt class="col-sm-3">OMMA License#</dt>
                            <dd class="col-sm-9">@ShowIfNotNull(Model.CustomerInfo.OMMALicense)</dd>

                            <dt class="col-sm-3">EIN#</dt>
                            <dd class="col-sm-9">@ShowIfNotNull(Model.CustomerInfo.EIN)</dd>

                            @*<dt class="col-sm-3">FEIN#</dt>
                            <dd class="col-sm-9">@ShowIfNotNull(Model.CustomerInfo.FEIN)</dd>*@

                            <dt class="col-sm-3">OBN#</dt>
                            <dd class="col-sm-9">@ShowIfNotNull(Model.CustomerInfo.OBN)</dd>
                        </dl>                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 