@model SimpleCure.Models.AdminModels.ViewUserInfo_ViewModel

@{
    ViewBag.Title = "User Info";
}

@if (Model.ResponseSuccess == false && Model.responseTypes == SimpleCure.Models.ResponseTypes.Failure)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>There was an error!</strong> @Model.ResponseMessage
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (Model.responseTypes == SimpleCure.Models.ResponseTypes.Information)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        @Model.ResponseMessage
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (Model.responseTypes == SimpleCure.Models.ResponseTypes.Success && !string.IsNullOrEmpty(Model.ResponseMessage))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @Model.ResponseMessage
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink(" Home", "Index", "Home")
            </li>
            <li class="breadcrumb-item active">Admin User Functions</li>
        </ul>
    </div>
</div>
<section class="forms">
    <div class="container-fluid">
        <header>
            <h1 class="h3 display">Perform Admin Functions on User</h1>
        </header>
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">
                                                <h5 class="card-header">
                                                    Login User Options
                                                </h5>
                                                <div class="card-body">

                                                    <p class="card-text">
                                                        @if (Model.userInfoModel != null)
                                                        {
                                                            <dl class="row">
                                                                <dt class="col-sm-3">User Name</dt>
                                                                <dd class="col-sm-9">@Model.userInfoModel.UserName</dd>

                                                                <dt class="col-sm-3">Email</dt>
                                                                <dd class="col-sm-9">@Model.userInfoModel.Email</dd>
                                                            </dl>
                                                            <ul class="list-unstyled">
                                                                <li>
                                                                    @Html.ActionLink(
                                                                    " Role Management",
                                                                    "UserRoleManagement",
                                                                    "Admin",
                                                                    new
                                                                    {
                                                                    ID = Model.CustInfoModel.ID
                                                                    })

                                                                </li>
                                                                <li>
                                                                    @Html.ActionLink(
                                                                    " Tie Login to Customer Information",
                                                                    "TieAccount",
                                                                    "Admin",
                                                                    new
                                                                    {
                                                                    ID = Model.CustInfoModel.ID
                                                                    })
                                                                </li>
                                                                <li>
                                                                    @Html.ActionLink(
                                                                    " Send Forgot Password",
                                                                    "SendForgotPasswordLink",
                                                                    "Admin",
                                                                    new
                                                                    {
                                                                    ID = Model.CustInfoModel.ID
                                                                    })
                                                                </li>
                                                                <li>
                                                                    @if (Model.userInfoModel.LockoutEndDateUtc != null && Model.userInfoModel.AccessFailedCount >= 5)
                                                                    {
                                                                        @Html.ActionLink(
                                                                        " Un Lock Account",
                                                                        "UnlockAccount",
                                                                        "Admin",
                                                                        new
                                                                        {
                                                                        ID = Model.CustInfoModel.ID
                                                                        })
                                                                        <span>Locked until :@Model.userInfoModel.LockoutEndDateUtc</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.ActionLink(
                                                                        " Lock Account",
                                                                        "LockAccount",
                                                                        "Admin",
                                                                        new
                                                                        {
                                                                        ID = Model.CustInfoModel.ID
                                                                        })
                                                                    }
                                                                </li>
                                                                <li>
                                                                    @Html.ActionLink(
                                                                    " Remove Account",
                                                                    "RemoveAccount",
                                                                    "Admin",
                                                                    new
                                                                    {
                                                                    ID = Model.CustInfoModel.ID
                                                                    })
                                                                </li>
                                                            </ul>
                                                        }
                                                        else
                                                        {
                                                            @Html.ActionLink(
                                                            " Tie Login to Customer Information",
                                                            "TieAccount",
                                                            "Admin",
                                                            new
                                                            {
                                                            ID = Model.CustInfoModel.ID
                                                            })
                                                        }
                                                    </p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="card">
                                                <h5 class="card-header">
                                                    Login History
                                                </h5>
                                                <div class="card-body">
                                                    <p class="card-text">
                                                        @Html.Partial("_LoginHistory", Model.LoginAttempts)
                                                    </p>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card">
                                                <h5 class="card-header">
                                                    Change History
                                                </h5>
                                                <div class="card-body">
                                                    <p class="card-text">
                                                        @Html.Partial("_AccountChangeHistory", Model.AccountChangeList)
                                                    </p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <h5 class="card-header">
                                            Customer Information
                                        </h5>
                                        <div class="card-body">
                                            <p class="card-text">
                                                @Html.Partial("_AccountInfo", Model.CustInfoModel)
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script src="~/Scripts/ViewScripts/BusinessTypesViewScirpt.js"></script>
}


