@model SimpleCure.Models.OrderModels.CreateOrder_ViewModel
@{
    ViewBag.Title = "Create Order";
}
<input type="hidden" value="@Url.Action("SaveOrder", "Order")" id="UrlSaveOrder" />
<input type="hidden" value="@Url.Action("Orders", "Order")" id="UrlOrders" />
<input type="hidden" value="@Url.Action("ViewOrder", "Order")" id="UrlViewOrder" />
<input type="hidden" value="@Url.Action("ViewProductInfo", "Order")" id="UrlViewProductInfo" />


@if (Model.ResponseSuccess == false && Model.responseTypes == SimpleCure.Models.ResponseTypes.Failure)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>There was an error!</strong> @Model.ResponseMessage
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (Model.responseTypes == SimpleCure.Models.ResponseTypes.Information)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        @Model.ResponseMessage
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (Model.responseTypes == SimpleCure.Models.ResponseTypes.Success && !string.IsNullOrEmpty(Model.ResponseMessage))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @Model.ResponseMessage
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink(" Home", "Index", "Home")
            </li>
            <li class="breadcrumb-item active">Create Order</li>
        </ul>
    </div>
</div>
<section class="forms">
    <div class="container-fluid">
        <header>
            <h1 class="h3 display">Create Order</h1>
        </header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Products</h4>
                                </div>
                                <div class="card-body">
                                    @if (Model.ListProducts != null && Model.ListProducts.Count > 0)
                                    {

                                        <div class="form-group">
                                            <label for="AddProductIDDDL">Available Products</label>
                                            <br />
                                            <select class="form-control custom-select" id="AddProductIDDDL">
                                                <option value="0">--Please Select--</option>
                                                @foreach (var item in Model.ListProducts)
                                                {
                                                    <option value="@item.ID">@item.Type ($@Convert.ToDecimal(item.PricePerUnit).ToString("#,##0.00"))</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="BatchIDtoADD">Batch ID</label>
                                            <input type="text" id="BatchIDtoADD" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label for="QuantityToADD">Quantity</label>
                                            <input type="number" id="QuantityToADD" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <a href="#" class="btn btn-primary" onclick="AddToCart();">Add to Cart</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <p>There are no products currently available to order! Please try back later.</p>
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Order Information</h4>
                                </div>
                                <div class="card-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h3>Customer</h3>
                                                        @if (Model.ListCustomers != null && Model.ListCustomers.Count > 0)
                                                        {
                                                            <select id="CustomerList" name="CustomerList" class="custom-select">
                                                                <option value="0">--Please Select--</option>
                                                                @foreach (var item in Model.ListCustomers)
                                                                {
                                                                    <option value="@item.CustomerID">@item.CompanyName (@item.CustomerName)</option>
                                                                }
                                                            </select>
                                                        }
                                                        else
                                                        {
                                                            <span>There are no customers</span>
                                                        }
                                                    </div>
                                                    <br />
                                                    <br />
                                                    <br />
                                                    <br />
                                                    <div class="col-md-12" id="CartDiv" style="display: none;">
                                                        <h3>Cart</h3>
                                                        <table id="CartTable" class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>Product/Price Per Unit</th>
                                                                    <th>Quantity</th>
                                                                    <th>Batch ID</th>
                                                                    <th>Remove/View</th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <br />
                                                <br />
                                                @if (User.IsInRole("Employee") || User.IsInRole("Owner") || User.IsInRole("WebAdmin"))
                                                {
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h3>Discounts</h3>                                                          
                                                            <div class="form-group">
                                                                <label for="CustomDiscountType">Discount</label>
                                                                <input type="text" class="form-control" id="CustomDiscountType" />
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="">Discount Amount</label>
                                                                <input type="number" class="form-control" min="0.01" step="0.01" max="900000" id="CustomDiscountAmount" />
                                                            </div>
                                                            <div class="form-group">
                                                                <a href="#" onclick="AddCustomDiscount();" class="btn btn-outline-primary">Add Discount</a>
                                                            </div>                                                         
                                                            <table id="DiscountTbl" class="table table-hover">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Discount</th>
                                                                        <th>Type</th>
                                                                        <th>Amount</th>
                                                                        <th></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                }
                                                <br />
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <h3>Order Notes</h3>
                                                            <textarea class="form-control" id="orderNotes" placeholder="Enter Order Notes here"></textarea>
                                                        </div>
                                                        <div class="form-group">
                                                            <button type="button" class="btn btn-outline-primary" onclick="SubmitOrder();">Submit Order</button> <b><span>Order Total: <span id="CreateNewOrderTotal">0.00</span> </span></b>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="ProductInfo" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">
                    Product Info
                </h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="ViewProductInfoDIV"></div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/ViewScripts/CreateOrderViewScript.js"></script>
}
