@model SimpleCure.Models.OrderModels.CreateOrder_ViewModel
@{
    ViewBag.Title = "Create Order";
}
<input type="hidden" value="@Url.Action("SaveOrder", "Order")" id="UrlSaveOrder" />
<input type="hidden" value="@Url.Action("Orders", "Order")" id="UrlOrders" />
<input type="hidden" value="@Url.Action("ViewOrder", "Order")" id="UrlViewOrder" />


@if (Model.ResponseSuccess == false && Model.responseTypes == SimpleCure.Models.ResponseTypes.Failure)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>There was an error!</strong> @Model.ResponseMessage
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (Model.responseTypes == SimpleCure.Models.ResponseTypes.Information)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        @Model.ResponseMessage
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (Model.responseTypes == SimpleCure.Models.ResponseTypes.Success && !string.IsNullOrEmpty(Model.ResponseMessage))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @Model.ResponseMessage
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink(" Home", "Index", "Home")
            </li>
            <li class="breadcrumb-item active">Create Order</li>
        </ul>
    </div>
</div>
<section class="forms">
    <div class="container-fluid">
        <header>
            <h1 class="h3 display">Create Order</h1>
        </header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Products</h4>
                                </div>
                                <div class="card-body" style="height: 700px; overflow-y: scroll;">
                                    @if (Model.ListProducts != null && Model.ListProducts.Count > 0)
                                    {

                                        <div class="container-fluid">
                                            @foreach (var item in Model.ListProducts)
                                            {
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <div class="container-fluid">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="row">
                                                                                <div class="col-md-6">
                                                                                    @if (item.ProductImage != null)
                                                                                    {
                                                                                        var base64 = Convert.ToBase64String(item.ProductImage);
                                                                                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                                                                        <img class="card-img-top" src="@imgSrc" alt="Card image cap">

                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <img class="card-img-top" src="..." alt="Card image cap">
                                                                                    }
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                    <h4 class="card-title">@item.Type</h4>
                                                                                    <p class="card-text">
                                                                                        <dl>
                                                                                            <dt>Strain:</dt>
                                                                                            <dd>@item.Strain</dd>
                                                                                            <dt>Dominant</dt>
                                                                                            <dd>@item.Dominant</dd>

                                                                                            <dt>Product Description</dt>
                                                                                            <dd>@item.Description</dd>

                                                                                            <dt>Dominant</dt>
                                                                                            <dd>@item.Dominant</dd>

                                                                                            <dt>Dominant</dt>
                                                                                            <dd>@item.Dominant</dd>
                                                                                            <dt>Pricer Per Unit</dt>
                                                                                            <dd>@item.PricePerUnit</dd>
                                                                                        </dl>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-12">



                                                                            Batch ID <input type="number" id="BatchID_@item.ID" class="form-control" />
                                                                            <br />
                                                                            Quantiy <input type="number" id="Quantity_@item.ID" class="form-control" />
                                                                            <a href="#" class="btn btn-primary" onclick="AddToCart('@item.Type', '@item.PricePerUnit', '@item.ID');">Add to Cart</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <p>There are no products currently available to order! Please try back later.</p>
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Order Information</h4>
                                </div>
                                <div class="card-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h3>Customer</h3>
                                                        @if (Model.ListCustomers != null && Model.ListCustomers.Count > 0)
                                                        {
                                                            <select id="CustomerList" name="CustomerList" class="custom-select">
                                                                <option value="0">--Please Select--</option>
                                                                @foreach (var item in Model.ListCustomers)
                                                                {
                                                                    <option value="@item.CustomerID">@item.CustomerName (@item.CompanyName)</option>
                                                                }
                                                            </select>
                                                        }
                                                        else
                                                        {
                                                            <span>There are no customers</span>
                                                        }
                                                    </div>
                                                    <br />
                                                    <br />
                                                    <br />
                                                    <br />
                                                    <div class="col-md-12" id="CartDiv" style="display: none;">
                                                        <h3>Cart</h3>
                                                        <table id="CartTable" class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>Product</th>
                                                                    <th>Price Per Unit</th>
                                                                    <th>Quantity</th>
                                                                    <th>Batch ID</th>
                                                                    <th>Remove</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <br />
                                                <br />
                                                @if (User.IsInRole("Employee") || User.IsInRole("Owner") || User.IsInRole("WebAdmin"))
                                                {
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h3>Discounts</h3>
                                                            @if (Model.ListDiscounts != null && Model.ListDiscounts.Count > 0)
                                                            {
                                                                <div class="input-group mb-3">
                                                                    <div class="input-group-prepend">
                                                                        <label class="input-group-text btn btn-outline-primary" for="inputGroupSelect01" onclick="AddDiscount();"> Add Discount </label>
                                                                    </div>
                                                                    <select id="DiscountDDL" class="custom-select">
                                                                        <option value="0">--Please Select--</option>
                                                                        @foreach (var item in Model.ListDiscounts)
                                                                        {
                                                                            <option value="@item.ID">@item.Type ($@item.DiscountAmount)</option>
                                                                        }
                                                                    </select>
                                                                </div>
                                                            }
                                                            <table id="DiscountTbl" class="table table-hover">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Discount</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                }
                                                <br />
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <h3>Order Notes</h3>
                                                            <textarea class="form-control" id="orderNotes" placeholder="Enter Order Notes here"></textarea>
                                                        </div>
                                                        <div class="form-group">
                                                            <button type="button" class="btn btn-outline-primary" onclick="SubmitOrder();">Submit Order</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script src="~/Scripts/ViewScripts/CreateOrderViewScript.js"></script>
}
