@model SimpleCure.Models.OrderModels.NewOrder_ViewModel

@if (Model.ResponseSuccess == false && Model.responseTypes == SimpleCure.Models.ResponseTypes.Failure)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>There was an error!</strong> @Model.ResponseMessage
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (Model.responseTypes == SimpleCure.Models.ResponseTypes.Information)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        @Model.ResponseMessage
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (Model.responseTypes == SimpleCure.Models.ResponseTypes.Success && !string.IsNullOrEmpty(Model.ResponseMessage))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @Model.ResponseMessage
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink(" Home", "Index", "Home")
            </li>
            <li class="breadcrumb-item active">Create Order</li>
        </ul>
    </div>
</div>


<input type="hidden" value="@Url.Action("NewOrder", "Order")" id="UrlNewOrder" />
<input type="hidden" value="@Url.Action("SubmitOrderInfo", "Order")" id="UrlSubmitOrderInfo" />
<input type="hidden" value="@Url.Action("SubmitProductInfo", "Order")" id="UrlSubmitProductInfo" />
<input type="hidden" value="@Url.Action("SubmitOrderHistory", "Order")" id="UrlSubmitOrderHistory" />
<input type="hidden" id="NewOrderID" />
<form id="NewOrderForm">
    <section class="forms">
        <div class="container-fluid">
            <header>
                <h1 class="h3 display">Inquiry/Order</h1>
            </header>
            <div class="row">
                <div class="col-md-12">

                    <div class="card">
                        <div class="card-header">
                            <h4>Place Simple Cure Order</h4>
                        </div>
                        <div class="card-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.OrderModel.CompanyName, new { @class = "form-control-label" })
                                                    @Html.TextBoxFor(m => m.OrderModel.CompanyName, new { id = "CompanyName", @class = "form-control", required = "required" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.OrderModel.ContactName, new { @class = "form-control-label" })
                                                    @Html.TextBoxFor(m => m.OrderModel.ContactName, new { id = "ContactName", @class = "form-control", required = "required" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.OrderModel.OMMANumber, new { @class = "form-control-label" })
                                                    @Html.TextBoxFor(m => m.OrderModel.OMMANumber, new { id = "OMMANumber", @class = "form-control", required = "required" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.OrderModel.EINNumber, new { @class = "form-control-label" })
                                                    @Html.TextBoxFor(m => m.OrderModel.EINNumber, new { id = "EINNumber", @class = "form-control", required = "required" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.OrderModel.OBNDDNumber, new { @class = "form-control-label" })
                                                    @Html.TextBoxFor(m => m.OrderModel.OBNDDNumber, new { id = "OBNDDNumber", @class = "form-control", required = "required" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.OrderModel.PhoneNumber, new { @class = "form-control-label" })
                                                    @Html.TextBoxFor(m => m.OrderModel.PhoneNumber, new { id = "PhoneNumber", @class = "form-control", required = "required" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.OrderModel.EmailAddress, new { @class = "form-control-label" })
                                                    @Html.TextBoxFor(m => m.OrderModel.EmailAddress, new { id = "EmailAddress", @class = "form-control", required = "required" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.OrderModel.StreetAddress, new { @class = "form-control-label" })
                                                    @Html.TextBoxFor(m => m.OrderModel.StreetAddress, new { id = "StreetAddress", @class = "form-control", required = "required" })
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="container-fluid">
                                                <h2>CURRENT PRODUCT OFFERINGS</h2>
                                                <div class="row flex-row flex-wrap">
                                                    @if (Model.OrderInfoProductTypesModel != null && Model.OrderInfoProductTypesModel.Count() > 0)
                                                    {
                                                        foreach (var item in Model.OrderInfoProductTypesModel)
                                                        {
                                                            <div class="col-3">
                                                                <div class="card" style="padding: 5px;">
                                                                    <div class="card-container">
                                                                        <h3 class="card-header bg-primary">
                                                                            @item.Type
                                                                        </h3>
                                                                      
                                                                        <div class="card-text card-text">
                                                                            <p>@item.Type_SubHeader</p>
                                                                        </div>
                                                                        <hr />
                                                                        <div class="card-text text-center">
                                                                            <p class="text-center">Price Per Unit</p>
                                                                            <p class="text-center">@item.Price</p>
                                                                        </div>
                                                                        <hr />
                                                                        <div class="card-text text-center">
                                                                            <p class="text-center">Units Requested</p>
                                                                            <p class="justify-content-center"><input type="number" class="form-control justify-content-center" id="Quantity_@item.ID" /></p>
                                                                        </div>
                                                                        <div class="card-footer text-center">
                                                                            <input type="button" class="btn btn-outline-primary" onclick="AddOrderToTable(@item.ID, '@item.Type', @item.Price)" value="Add to Order" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <div class="col-3">
                                                            <div class="card card-block">  <p>No Products available at this time.</p></div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="container-fluid">
                                                <table class="table table-hover" id="ProductTable">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Product
                                                            </th>
                                                            <th>
                                                                Product ID
                                                            </th>
                                                            <th>
                                                                Price
                                                            </th>
                                                            <th>
                                                                Quantity
                                                            </th>
                                                            <th>
                                                                Total Price
                                                            </th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.OrderModel.Notes, new { @class = "form-control-label" })
                                                    @Html.TextAreaFor(m => m.OrderModel.Notes, new { id="Notes", @class = "form-control" })
                                                </div>
                                                <p>
                                                    Select your Business Type(s)
                                                </p>
                                                @if (Model.ListBusinessTypes != null && Model.ListBusinessTypes.Count() > 0)
                                                {
                                                    <div class="form-group">
                                                        <ul class="check-lists list-unstyled">
                                                            @foreach (var item in Model.ListBusinessTypes)
                                                            {
                                                                <li class="d-flex align-items-center">
                                                                    <input type="checkbox" id="BT_@item.ID" name="BusinessTypes" class="form-control-custom">
                                                                    <label for="BT_@item.ID">@item.Type</label>
                                                                </li>
                                                            }
                                                        </ul>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <p>There are no Business Types available!</p>
                                                }
                                                <div class="form-group">
                                                    <input type="button" value="Submit Order" class="btn btn-primary btn-outline-primary btn-block" onclick="SubmitOrder();" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
@section scripts {
    <script src="~/Scripts/ViewScripts/NewOrderViewScript.js"></script>
}
