@model SimpleCure.Models.OrderModels.ViewOrder_ViewModel
@{
    ViewBag.Title = "View Order";
}

@*<input type="hidden" value="@Url.Action("CreateDiscount", "Admin")" id="UrlCreateDiscount" />
    <input type="hidden" value="@Url.Action("EditDiscount", "Admin")" id="UrlEditDiscount" />
    <input type="hidden" value="@Url.Action("Discount", "Admin")" id="UrlDiscount" />*@

<input type="hidden" value="@Url.Action("ViewOrderInfo", "Order")" id="UrlViewOrderInfo" />

<input type="hidden" value="@Url.Action("EditCurrentOrderStatus", "Order")" id="UrlEditCurrentOrderStatus" />
<input type="hidden" value="@Url.Action("SaveOrderActivityStatus", "Order")" id="UrlSaveOrderActivityStatus" />

@if (Model.ResponseSuccess == false && Model.responseTypes == SimpleCure.Models.ResponseTypes.Failure)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>There was an error!</strong> @Model.ResponseMessage
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (Model.responseTypes == SimpleCure.Models.ResponseTypes.Information)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        @Model.ResponseMessage
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (Model.responseTypes == SimpleCure.Models.ResponseTypes.Success && !string.IsNullOrEmpty(Model.ResponseMessage))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @Model.ResponseMessage
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@Html.HiddenFor(m => m.OrderInfo.ID)
<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink(" Home", "Index", "Home")
            </li>
            <li class="breadcrumb-item active">View Order</li>
        </ul>
    </div>
</div>
<section class="forms">
    <div class="container-fluid">
        <header>
            <h1 class="h3 display">View Order</h1>
        </header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <h5 class="card-header">
                                    Order/Customer Information @if (User.IsInRole("Employee") || User.IsInRole("Owner") || User.IsInRole("WebAdmin"))
                                    {<a href="#" class="pull-right" data-toggle="tooltip" data-placement="top" title="Change Customer Information"><i class="fa fa-edit"></i></a>}
                                </h5>
                                <div class="card-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row" id="ViewOrderInfoDIV">


                                                    @{Html.RenderAction("ViewOrderInfo", "Order", new { OrderID = Model.OrderInfo.ID });}


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <h5 class="card-header">
                                    Enter Order Status Activity
                                </h5>
                                <div class="card-body">
                                    <div id="EditCurrentOrderStatusDIV">
                                        @{Html.RenderAction("EditCurrentOrderStatus", "Order", new { OrderID = Model.OrderInfo.ID });}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <h5 class="card-header">
                                    Items Ordered @if (User.IsInRole("Employee") || User.IsInRole("Owner") || User.IsInRole("WebAdmin"))
                                    {<a href="#" class="pull-right" data-toggle="tooltip" data-placement="top" title="Add Item to Order"><i class="fa fa-plus-circle"></i></a>}
                                </h5>
                                <div class="card-body">
                                    <p class="card-text">
                                        @if (Model.ListProducts != null && Model.ListProducts.Count > 0)
                                        {
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <td>Product</td>
                                                        <td>Product Group</td>
                                                        <td>Quantity</td>
                                                        <td>Pricer Per Unti</td>
                                                        <td>Total for Line Item</td>
                                                        <td>View</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.ListProducts)
                                                    {
                                                        <tr>
                                                            <td>@item.Type</td>
                                                            <td>@item.ProductGroup</td>
                                                            <td>@item.Quantity</td>
                                                            <td>@item.PricePerUnit</td>
                                                            <td>@item.Total</td>
                                                            <td><a href="#" onclick="ShowEdit(@item.OrderProductID)"><i class="fa fa-eye"></i></a></td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>


                                        }
                                        else
                                        {
                                            <span class="text-danger">There are no Items for this Order!</span>
                                        }
                                        <div class="form-group pull-right">
                                            <h5>Order Total</h5>

                                            @if (Model.ListProducts != null && Model.ListProducts.Count > 0)
                                            {
                                                if (Model.ListOrderDiscounts != null && Model.ListOrderDiscounts.Count > 0)
                                                {<span>@Convert.ToDecimal((Model.ListProducts.Sum(i => i.Total) - (Model.ListOrderDiscounts.Sum(i => i.DiscountAmount))))</span>}
                                            else
                                            { <span>@Convert.ToDecimal((Model.ListProducts.Sum(i => i.Total)))</span>}

                                    }
                                    else
                                    {
                                        <span>0.00</span>
                                    }
                                        </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="card">
                                <h5 class="card-header">
                                    Order Discounts   @if (User.IsInRole("Employee") || User.IsInRole("Owner") || User.IsInRole("WebAdmin"))
                                    {<a href="#" class="pull-right" data-toggle="tooltip" data-placement="top" title="Add Discount"><i class="fa fa-plus-circle"></i></a>}
                                </h5>
                                <div class="card-body">
                                    <p class="card-text">
                                        @if (Model.ListOrderDiscounts != null && Model.ListOrderDiscounts.Count > 0)
                                        {
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <td>Discount</td>
                                                        <td>Discount Amount</td>
                                                        <td>View</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.ListOrderDiscounts)
                                                    {
                                                        <tr>
                                                            <td>@item.Type</td>
                                                            <td>@item.DiscountAmount</td>
                                                            <td><a href="#" onclick="ShowEdit(@item.OrderDiscountID)"><i class="fa fa-eye"></i></a></td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>


                                        }
                                        else
                                        {
                                            <span class="text-danger">There are no Discounts for this Order!</span>
                                        }
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

@section scripts {
    <script src="~/Scripts/ViewScripts/ViewOrderViewScript.js"></script>
}
