@model SimpleCure.Models.OrderModels.ViewOrder_ViewModel
@{
    ViewBag.Title = "View Order";
}
<input type="hidden" value="@Url.Action("Orders", "Order")" id="UrlOrders" />
<input type="hidden" value="@Url.Action("ViewOrderInfo", "Order")" id="UrlViewOrderInfo" />
<input type="hidden" value="@Url.Action("EditCurrentOrderStatus", "Order")" id="UrlEditCurrentOrderStatus" />
<input type="hidden" value="@Url.Action("SaveOrderActivityStatus", "Order")" id="UrlSaveOrderActivityStatus" />
<input type="hidden" value="@Url.Action("ViewOrderProducts", "Order")" id="UrlViewOrderProducts" />
<input type="hidden" value="@Url.Action("SaveCustomerInfoForOrder", "Order")" id="UrlSaveCustomerInfoForOrder" />
<input type="hidden" value="@Url.Action("RemoveOrderProduct", "Order")" id="UrlRemoveOrderProduct" />
<input type="hidden" value="@Url.Action("ViewProductInfo", "Order")" id="UrlViewProductInfo" />
<input type="hidden" value="@Url.Action("ViewAddOrderProduct", "Order")" id="UrlViewAddOrderProduct" />
<input type="hidden" value="@Url.Action("AddOrderProdcut", "Order")" id="UrlAddOrderProdcut" />
<input type="hidden" value="@Url.Action("ViewOrderDiscounts", "Order")" id="UrlViewOrderDiscounts" />
<input type="hidden" value="@Url.Action("ViewAddOrderDiscount", "Order")" id="UrlViewAddOrderDiscount" />
<input type="hidden" value="@Url.Action("AddOrderDiscount", "Order")" id="UrlAddOrderDiscount" />
<input type="hidden" value="@Url.Action("RemoveOrderDiscount", "Order")" id="UrlRemoveOrderDiscount" />
<input type="hidden" value="@Url.Action("DeleteOrder", "Order")" id="UrlDeleteOrder" />
<input type="hidden" value="@Url.Action("OrderPaid", "Order")" id="UrlOrderPaid" />

@if (Model.ResponseSuccess == false && Model.responseTypes == SimpleCure.Models.ResponseTypes.Failure)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>There was an error!</strong> @Model.ResponseMessage
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (Model.responseTypes == SimpleCure.Models.ResponseTypes.Information)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        @Model.ResponseMessage
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (Model.responseTypes == SimpleCure.Models.ResponseTypes.Success && !string.IsNullOrEmpty(Model.ResponseMessage))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @Model.ResponseMessage
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@Html.HiddenFor(m => m.OrderInfo.ID)
<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink(" Home", "Index", "Home")
            </li>
            <li class="breadcrumb-item active">View Order</li>
        </ul>
    </div>
</div>
<section class="forms">
    <div class="container-fluid">
        <header>
            <h1 class="h3 display">View Order</h1>
        </header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <h5 class="card-header">
                                    Order/Customer Information @if (User.IsInRole("Employee") || User.IsInRole("Owner") || User.IsInRole("WebAdmin"))
                                    {
                                        <a href="#ChangeCustomerInfoModal" role="button" data-toggle="modal" class="pull-right"><i class="fa fa-edit"></i></a>
                                        <div class="modal fade" id="ChangeCustomerInfoModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="myModalLabel">
                                                            Change Customer Information
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        @if (Model.ListCustomers != null && Model.ListCustomers.Count > 0)
                                                        {
                                                            <select id="CustomerList" name="CustomerList" class="custom-select">
                                                                <option value="0">--Please Select--</option>
                                                                @foreach (var item in Model.ListCustomers)
                                                                {
                                                                    <option value="@item.CustomerID">@item.CustomerName (@item.CompanyName)</option>
                                                                }
                                                            </select>
                                                        }
                                                        else
                                                        {
                                                            <span>There are no customers</span>
                                                        }
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-outline-primary" onclick="SaveNewCustomerInformation();">Save</button>
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                            Close
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    }
                                </h5>
                                <div class="card-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row" id="ViewOrderInfoDIV">
                                                    @{Html.RenderAction("ViewOrderInfo", "Order", new { OrderID = Model.OrderInfo.ID });}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <h5 class="card-header">
                                    Enter Order Status Activity
                                </h5>
                                <div class="card-body">
                                    <div id="EditCurrentOrderStatusDIV">
                                        @{Html.RenderAction("EditCurrentOrderStatus", "Order", new { OrderID = Model.OrderInfo.ID });}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <h5 class="card-header">
                                    Items Ordered @if (User.IsInRole("Employee") || User.IsInRole("Owner") || User.IsInRole("WebAdmin"))
                                    {<a href="#" class="pull-right" onclick="ShowAddNewProduct();"><i class="fa fa-plus-circle"></i></a>}
                                </h5>
                                <div class="card-body">
                                    <div id="ListProductsDIV">
                                        @{Html.RenderAction("ViewOrderProducts", "Order", new { OrderID = Model.OrderInfo.ID });}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="card">
                                <h5 class="card-header">
                                    Order Discounts   @if (User.IsInRole("Employee") || User.IsInRole("Owner") || User.IsInRole("WebAdmin"))
                                    {<a href="#" class="pull-right" onclick="ViewAddOrderDiscount();"><i class="fa fa-plus-circle"></i></a>}
                                </h5>
                                <div class="card-body">
                                    <div id="OrderDiscountsDIV">
                                        @{Html.RenderAction("ViewOrderDiscounts", "Order", new { OrderID = Model.OrderInfo.ID });}
                                    </div>
                                    <div class="modal fade" id="ViewAddOrderDiscountModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="ViewOrderDiscountModalTitle">
                                                        Add Discount to Order
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div id="ViewAddOrderDiscountDIV"></div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" onclick="SaveAddNewDiscountToOrder();" class="btn btn-outline-primary">
                                                        Add Discount
                                                    </button>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                        Close
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

@section scripts {
    <script src="~/Scripts/ViewScripts/ViewOrderViewScript.js"></script>
}
